<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email" href="mailto:contact@joelbarrett.co.uk">
          <i class="icon fa fa-envelope"></i></a>
        <a aria-label="GitHub" target="_blank" href="https://github.com/jb361">
          <i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="LinkedIn" target="_blank" href="https://linkedin.com/in/jb361/">
          <i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="CV" target="_blank" href="{{ '/assets/docs/JoelBarrett_CV.pdf' | prepend: site.baseurl }}">
          <i class="icon fa fa-file-pdf-o" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
